body{
    margin: 0;
}
.sidebar{
    display:none;
}
.main-panel{
    width:100%;
}
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper{
    height: 100vh;
}
@media(max-width:991px){
  .sidebar{
      display:block;
  }
  #main-nav{
      display: none;
  }
}